body {
    background-image: url('/images/tracker.jpg');
    background-size: cover;
}

.main {
    background-color: rgba(0, 0, 0, 0.4);
    height: 95vh;
    width: 95%;
    padding: 10px;
    text-align: center;
}

.heading {
    text-align: center;
    color: beige;
    font-family: 'Poetsen One';
}

.sub-headings {
    text-align: center;
    color: beige;
    font-family: 'Inter';
}

.progress-cycles {
    margin: 30px;
    margin-top: 7%;
    padding: 20px;
    text-align: center;
    align-content: center;
    display: grid;
}

.row {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
}

.col-xl-3 {
    margin: 10px;
}

.progress-bar-animated {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s;
}

    .progress-bar-animated:hover {
        transform: scale(1.05);
    }

.progress-details {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    height: 350px; /* Increase height as needed */
    color:white;
}

.progress {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
}

.progress-bar {
    background-color: #4caf50;
    height: 100%;
    text-align: center;
    color: white;
    line-height: 20px; /* Ensure text is centered vertically */
}
