@inherits LayoutComponentBase

<PageTitle>testdatabase</PageTitle>

<div class="page">
    

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<video id="video-player" controls style="display:none;"></video>

<script src="js/site.js"></script>